---
import type { Profile } from '@/types/ui';
import IconVerification from '@/icons/outline/IconVerification.svg';
import IconPhoto from '@/icons/outline/IconPhoto.svg';
import IconVideoCamera from '@/icons/outline/IconVideoCamera.svg';
import IconSpeakerWave from '@/icons/outline/IconSpeakerWave.svg';
import IconHeart from '@/icons/outline/IconHeart.svg';
import IconBars3Right from '@/icons/outline/IconBars3Right.svg';
import IconLink from '@/icons/outline/IconLink.svg';
import IconXmark from '@/icons/outline/IconXmark.svg';
import ProfileCarousel from '@/components/ProfileCarousel.astro';
import Modal from '@/components/common/Modal.astro'
import Toast from '@/components/common/Toast.astro';

interface Props {
	profile: Profile;
};

const { profile } = Astro.props;

const formatNumber = (number: number) => {
	return new Intl.NumberFormat("es", {
		notation: "compact",
		maximumFractionDigits: 1,
	}).format(number);
};
---

<div class="relative h-145">

	<nav class="absolute top-0 z-20 w-full flex justify-between items-start px-5 py-4">

		<div> 
			<div class="inline-flex items-center">
				<h1 class="me-1.5 text-xl font-medium text-white">{profile.name}</h1>
				{profile.isVerified === true && (
					<IconVerification stroke-width="1.8" width="22" height="22" class="stroke-blue-500"/>
				)}
			</div>
			
			<ul class="mt-1 flex gap-3 text-base font-medium text-white">
				
				{profile.stats.images > 0 && (
					<li class="inline-flex items-center">
						<IconPhoto stroke-width="1.8" width="18" height="18" class="stroke-white"/>
						<span class="ms-1">{profile.stats.images}</span>
					</li> 
				)}
			
				{profile.stats.videos > 0 && (
					<li class="inline-flex items-center">
						<IconVideoCamera stroke-width="1.8" width="18" height="18" class="stroke-white"/>
						<span class="ms-1">{profile.stats.videos}</span>
					</li>
				)}
			
				{profile.stats.audios > 0 && (
					<li class="inline-flex items-center">
						<IconSpeakerWave stroke-width="1.8" width="18" height="18" class="stroke-white"/>
						<span class="ms-1">{profile.stats.audios}</span>
					</li>
				)}

				{profile.stats.likes > 0 && (
					<li class="inline-flex items-center">
						<IconHeart stroke-width="1.8" width="18" height="18" class="stroke-white"/>
						<span class="ms-1">{formatNumber(profile.stats.likes)}</span>
					</li>
				)}
			</ul>

		</div>

		<button type="button">
			<IconBars3Right stroke-width="1.6" width="28" height="28" class="stroke-white"/>
		</button>
		
	</nav>

	<div class="absolute bottom-5 z-20 w-full px-5 py-4">

		<h2 class="text-center righteous-regular text-3xl font-medium text-white">{profile.username}</h2>

		<div class="mt-1 flex items-center justify-center">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.8" width="18" height="18" class="stroke-white">
			  	<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
			  	<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
			</svg>
			<p class="ms-1 text-base font-medium text-white">NYC / Miami</p>
		</div>

		<div class="mt-4">

			<div class="flex justify-center gap-3">

				{profile.activeSubscription === false && (
					<button type="button" class="px-5 py-2 rounded-full text-base font-semibold text-white bg-blue-500/90 hover:bg-blue-500 transition-colors duration-300 ease-in-out">
						Suscríbete por 31 días
					</button>
				)}

				{profile.activeSubscription === true && (
					<button type="button" class="inline-flex items-center py-2.5 pl-2.5 pr-3 rounded-full bg-blue-500/90 hover:bg-blue-500 transition-colors duration-300 ease-in-out">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke="currentColor" stroke-width="1.8" width="24" height="24" class="stroke-white">
  							<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
						</svg>
						<span class="ms-1 text-base font-semibold text-white">Enviar regalo</span>
					</button>
				)}
			
				<button type="button" class="p-2.5 rounded-full bg-blue-500/20 hover:bg-blue-500/30 transition-colors duration-300 ease-in-out" data-modal-open="love-modal">
					<IconHeart stroke-width="2" width="26" height="26" class="stroke-blue-500"/>
				</button>

				<Modal modalId="love-modal" offset={2} verticalPosition="center">
					<!-- Modal content -->
        			<div class="relative p-8 transform overflow-hidden rounded-3xl bg-white text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg data-closed:sm:translate-y-0 data-closed:sm:scale-95">
					
						<button type="button" class="absolute top-3 end-2.5" data-modal-close>
							<IconXmark stroke-width="1.6" width="28" height="28" class="stroke-neutral-500"/>
						</button>

        			    <h2 class="">Welcome back</h2>
        			    <h3 class="">Sign in to your account</h3>
					
        			    <form class="mt-4 max-w-md mx-auto">   
        			        <label for="search" class="block mb-2.5 text-sm font-medium text-heading sr-only ">Search</label>
        			        <div class="relative">
        			            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        			                <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/></svg>
        			            </div>
        			            <input type="search" id="search" class="block w-full p-3 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Search" required />
        			            <button type="button" class="absolute end-1.5 bottom-1.5 text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded text-xs px-3 py-1.5 focus:outline-none">Search</button>
        			        </div>
        			    </form>
					
        			    <div class="mt-4 flex gap-3">
        			        <button class="flex-1 flex justify-center p-2 rounded-2xl bg-neutral-500/20">
        			            <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        			                <path d="M22.7861 9.84565H21.9V9.8H12V14.2H18.2167C17.3097 16.7613 14.8727 18.6 12 18.6C8.35515 18.6 5.4 15.6449 5.4 12C5.4 8.35515 8.35515 5.4 12 5.4C13.6825 5.4 15.2131 6.0347 16.3786 7.07145L19.4899 3.9601C17.5253 2.12915 14.8974 1 12 1C5.92525 1 1 5.92525 1 12C1 18.0748 5.92525 23 12 23C18.0748 23 23 18.0748 23 12C23 11.2625 22.9241 10.5425 22.7861 9.84565Z" fill="#FFC107"/>
        			                <path d="M2.2683 6.88005L5.88235 9.5305C6.86025 7.1094 9.22855 5.4 12 5.4C13.6825 5.4 15.2131 6.0347 16.3786 7.07145L19.4899 3.9601C17.5253 2.12915 14.8974 1 12 1C7.7749 1 4.1108 3.38535 2.2683 6.88005Z" fill="#FF3D00"/>
        			                <path d="M12 23C14.8413 23 17.423 21.9127 19.375 20.1444L15.9705 17.2635C14.8661 18.1001 13.4933 18.6 12 18.6C9.1389 18.6 6.70955 16.7757 5.79435 14.2297L2.20725 16.9935C4.02775 20.5558 7.72485 23 12 23Z" fill="#4CAF50"/>
        			                <path d="M22.7861 9.84565H21.9V9.8H12V14.2H18.2167C17.7811 15.4303 16.9896 16.4913 15.9688 17.2641L15.9705 17.2635L19.375 20.1444C19.1341 20.3633 23 17.5 23 12C23 11.2625 22.9241 10.5425 22.7861 9.84565Z" fill="#1976D2"/>
        			            </svg>
        			        </button>
						
        			        <button class="flex-1 flex justify-center p-2 rounded-2xl bg-neutral-500/20">
        			            <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        			                <g opacity="0.9">
        			                    <path d="M20.4717 8.54484C20.3733 8.60645 18.0304 9.90673 18.0304 12.7898C18.1408 16.0777 20.9871 17.2307 21.0359 17.2307C20.9871 17.2923 20.6062 18.8015 19.4779 20.3834C18.5825 21.7461 17.5887 23.12 16.0796 23.12C14.6441 23.12 14.1288 22.2118 12.4724 22.2118C10.6936 22.2118 10.1903 23.12 8.82842 23.12C7.31929 23.12 6.25186 21.6725 5.30765 20.3226C4.08099 18.5558 3.03836 15.7832 3.00155 13.121C2.97675 11.7103 3.24721 10.3236 3.93376 9.14577C4.90277 7.50141 6.63274 6.38517 8.52195 6.34836C9.96947 6.29955 11.2577 7.34218 12.1411 7.34218C12.9877 7.34218 14.5705 6.34836 16.3613 6.34836C17.1342 6.34916 19.1955 6.58201 20.4717 8.54484ZM12.0187 6.0667C11.7611 4.77842 12.4724 3.49014 13.135 2.66836C13.9815 1.67455 15.3186 1 16.4717 1C16.5453 2.28828 16.0788 3.55175 15.245 4.47195C14.4969 5.46577 13.2086 6.21393 12.0187 6.0667Z" fill="black"/>
        			                </g>
        			            </svg>
        			        </button>
        			    </div>
					
        			    <p class="mt-4 text-sm text-neutral-800">
        			        By continuing, you agree to Supabase’s <a>Terms of Service</a> and <a>Privacy Policy</a>, and to receive periodic emails with updates.
        			    </p>
					
        			</div>

				</Modal>

				<button type="button" id="share-button" class="p-2.5 rounded-full bg-blue-500/20 hover:bg-blue-500/30 transition-colors duration-300 ease-in-out">
					<IconLink stroke-width="2" width="26" height="26" class="stroke-blue-500"/>
				</button>

				<Toast toastId="share-toast" autoCloseTime={4000} offset={3} verticalPosition="bottom" horizontalPosition="center">
					<div class="toast-w flex items-center p-2.5 rounded-full shadow-lg bg-blue-500">
    				    <IconLink stroke-width="1.8" width="24" height="24" class="stroke-white"/>
    				    <div class="mx-2.5 h-4 w-px bg-white"></div>
    				    <p class="text-base font-medium text-white">El enlace se copió</p>
    				    <button type="button" class="group ms-2.5 relative w-7 h-7 flex items-center justify-center rounded-full" data-toast-close aria-label="Cerrar mensaje">
    				        <svg class="absolute inset-0 -rotate-90" viewBox="0 0 36 36">
    				            <circle cx="18" cy="18" r="16" class="stroke-white/60" stroke-width="2" fill="none"/>
    				            <circle cx="18" cy="18" r="16" class="progress-ring stroke-white" stroke-width="2" fill="none"/>
    				        </svg>
    				        <IconXmark stroke-width="1.8" width="18" height="18" class="relative z-10 stroke-white/60 group-hover:stroke-white transition-colors duration-300 ease-in-out"/>
    				    </button>
    				</div>
				</Toast>
			</div>

			{profile.activeSubscription === false && (
				<p class="mt-3 text-center text-sm font-medium text-white">$ 8.900 al mes. Puedes cancelar en cualquier momento. Aplica terminos y condiciones.</p>
			)}

		</div>

		<p class="mt-4 text-center text-base text-white">{profile.presentation}</p>


	</div>
	
	<ProfileCarousel stories={profile.stories} />


<!-- 	<div class="relative w-full h-145 overflow-hidden rounded-b-4xl">

		<ProfileCarousel className="flex h-full" ariaLabel="Carousel de historias">
			{profile.stories.map((storie: string, index: number) => ( 
				<div class="relative w-full h-full shrink-0" data-carousel-item> 
					<img src={storie} width="104" height="580" loading={index === 0 ? "eager" : "lazy"} fetchpriority={index === 0 ? "high" : "low"} decoding={index === 0 ? "auto" : "async"} crossorigin="anonymous" class="w-full h-full object-cover object-[50%_10%]" alt={`Historia ${index + 1}`}/>
					<div class="pointer-events-none absolute inset-0"></div>
				</div> 
			))}
		</ProfileCarousel>
		
	</div> -->

</div>

<style>
.progress-ring {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: progress 4000ms linear forwards;
}

.toast-w:hover .progress-ring {
    animation: progress-restart 4000ms linear forwards;
    animation-play-state: paused;
}

@keyframes progress {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

/* misma animación, distinto nombre */
@keyframes progress-restart {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}
</style>

<script>
/* import { emit } from "@/utils/events";
 */
	/* const loveButtonElement = document.getElementById("love-button"); */
	const shareButtonElement = document.getElementById("share-button");


	/* console.log("toastWrapperElement", loveButtonElement, "closeButtonElement", shareButtonElement)
 */
	/* loveButtonElement.addEventListener("click", async () => {
	  	window.dispatchEvent(new CustomEvent("toastchange", { detail: { id: "love-toast" } }));
	}); */

	shareButtonElement?.addEventListener("click", () => {
		/* emit("toast:show", { id: "share-toast" }); */
		window.dispatchEvent(new Event(`toast:show:share-toast`));
        /* window.dispatchEvent(new CustomEvent("toast:show", { detail: { id: "share-toast" } })); */
    });

	


	/* const shareButtonElement = document.getElementById("share-button");

	shareButtonElement?.addEventListener("click", async () => { */
	  	/* if (navigator.share) {
	  	  	try {
	  	  	  	await navigator.share({
	  	  	  	  	title: document.title,
	  	  	  	  	text: "Mira esto",
	  	  	  	  	url: window.location.href,
	  	  	  	});
	  	  	} catch (error) {
				if (error.name === "AbortError") return;
	  	  	  	alert("Error sharing:", error);
	  	  	}
	  	} else {
	  	  	navigator.clipboard.writeText(window.location.href);
	  		window.dispatchEvent(new Event("toastactive"));
	  	} */
	  	/* window.dispatchEvent(new Event("toastactive"));
	}); */
</script>