---
interface Props {
    modalId: string;
    offset?: string;
    verticalPosition?: 'top' | 'center' | 'bottom';
    unmount?: boolean;
};

const { modalId, offset = '2rem', verticalPosition = 'center', unmount = false } = Astro.props;
---
           
<div id={`modal-${modalId}`} class="modal" style={`--offset: ${offset};`} data-modal-id={modalId} data-state="closed" data-vertical={verticalPosition} data-unmount={unmount} role="dialog" aria-modal="true" aria-hidden="true">
    <div class="modal-overlay"></div>
    <div class="modal-viewport focus:outline-none">
        <div class="modal-positioner">
            <div class="modal-content">
                <slot/>
            </div>
        </div>
    </div>
</div>

<style>
.modal {
    display: none;
    position: relative;
    z-index: 50;
}

.modal:not([data-state="closed"]) {
    display: block;
}

.modal-overlay {
    position: fixed;
    inset: 0px;
    opacity: 0;
    background-color: rgb(0 0 0 / 15%);
    backdrop-filter: blur(1px);
    transition: opacity var(--transition-duration, 300ms) var(--transition-timing, ease-in-out);
}

.modal[data-state="open"] > .modal-overlay  {
    opacity: 1;
}

.modal-viewport {
    position: fixed;
    inset: 0px;
    z-index: 50;
    width: 100vw;
    overflow-y: auto;
    pointer-events: none;
}

.modal-positioner {
    display: flex;
    justify-content: center;
    align-items: var(--align-items);
    padding: var(--offset);
    min-height: 100%;
}

.modal[data-vertical="top"] .modal-positioner { --align-items: flex-start; }
.modal[data-vertical="center"] .modal-positioner { --align-items: center; }
.modal[data-vertical="bottom"] .modal-positioner { --align-items: flex-end; }

.modal-content {
/*  position: relative;
    ooverflow: hidden; */
    pointer-events: auto;
    opacity: 0;
    transform: translateY(10px) scale(75%);
    transition: 
        opacity var(--transition-duration, 300ms) var(--transition-timing, ease-in-out), 
        transform var(--transition-duration, 300ms) var(--transition-timing, ease-in-out);
}

.modal[data-state="open"] .modal-content {
    opacity: 1;
    transform: translateY(0) scale(100%);
}
</style>

<script>
    const mountModal = (modalElement: HTMLElement) => document.body.appendChild(modalElement);
    const unmountModal = (modalElement: HTMLElement) => modalElement.remove();

    document.querySelectorAll<HTMLDivElement>(".modal").forEach((modalElement) => {
        const { modalId, unmount } = modalElement.dataset
        if (!modalId) throw new Error('Missing "data-modal-id" attribute on Modal component');

        unmount === "true" ? unmountModal(modalElement) : mountModal(modalElement);

        const modalOverlayElement = modalElement.querySelector<HTMLDivElement>(".modal-overlay");
        if (!modalOverlayElement) throw new Error(`Modal "${modalId}": component internal element(s) .modal-overlay not found.`);

        const openButtonElement = document.querySelector<HTMLButtonElement>(`[data-modal-open="${modalId}"]`);
        const closeButtonElement = modalElement.querySelector<HTMLButtonElement>("[data-modal-close]");
        let lastFocusedElement: HTMLElement | null = null;

        const setAccessibility = (hidden: boolean) => modalElement.setAttribute("aria-hidden", String(hidden));

        const handleKeydown = (event: KeyboardEvent) => event.key === "Escape" && hideModal();

        const showModal = () => {
            if (modalElement.dataset.state !== "closed") return;
            if (unmount === "true") mountModal(modalElement);
            modalElement.dataset.state = "opening";
            lastFocusedElement = document.activeElement as HTMLElement;
            setAccessibility(false);
            requestAnimationFrame(() => {
                modalElement.dataset.state = "open";
                window.addEventListener("keydown", handleKeydown); 
            });
        };

        const hideModal = () => {
            if (modalElement.dataset.state !== "open") return;
            window.removeEventListener("keydown", handleKeydown);
            lastFocusedElement?.focus();
            setAccessibility(true);
            modalElement.dataset.state = "closing";
            modalOverlayElement.addEventListener("transitionend", () => {
                modalElement.dataset.state = "closed"
                if (unmount === "true") unmountModal(modalElement);
            }, { once: true }); 
        };

        modalOverlayElement.addEventListener("click", hideModal);
        openButtonElement?.addEventListener("click", showModal);
        closeButtonElement?.addEventListener("click", hideModal);
        window.addEventListener(`modal:show:${modalId}`, showModal);
        window.addEventListener(`modal:hide:${modalId}`, hideModal);
    });
</script>