---
interface Props {
    toastId: string;
    offset?: string;
    autocloseTime?: number;
    verticalPosition?: 'top' | 'center' | 'bottom';
    horizontalPosition?: 'left' | 'center' | 'right';
    unmount?: boolean;
};

const { toastId, offset = '3rem', autocloseTime = 4000, verticalPosition = 'bottom', horizontalPosition = 'center', unmount = false } = Astro.props;
---

<div id={`toast-${toastId}`}  class="toast" style={`--offset: ${offset};`} data-toast-id={toastId} data-state="closed" data-autoclose-time={autocloseTime} data-vertical={verticalPosition} data-horizontal={horizontalPosition} data-unmount={unmount} role="alert">
    <div class="toast-content">
        <slot/>
    </div>
</div>

<style>
.toast {
    display: none;
    position: fixed;
    z-index: 30;
    width: max-content;
} 

.toast:not([data-state="closed"]) {
    display: block;
}

.toast[data-vertical="top"] { top: var(--offset); --translateY: -10px; }
.toast[data-vertical="center"] { top: 50%; --translateY: 0; }
.toast[data-vertical="bottom"] { bottom: var(--offset); --translateY: 10px; }

.toast[data-horizontal="left"] { left: var(--offset); }
.toast[data-horizontal="center"] { left: 50%; transform: translateX(-50%); }
.toast[data-horizontal="right"] { right: var(--offset); }

.toast-content {
    opacity: 0;
    transform: translateY(var(--translateY)) scale(75%);
    transition: 
        opacity var(--transition-duration, 300ms) var(--transition-timing, ease-in-out), 
        transform var(--transition-duration, 300ms) var(--transition-timing, ease-in-out);
}

.toast[data-state="open"] > .toast-content {
    opacity: 1;
    transform: translateY(0) scale(100%);
}
</style>

<script>
    const mountToast = (toastElement: HTMLElement) => document.body.appendChild(toastElement);
    const unmountToast = (toastElement: HTMLElement) => toastElement.remove();

    document.querySelectorAll<HTMLDivElement>(".toast").forEach((toastElement) => {
        const { toastId, autocloseTime, unmount } = toastElement.dataset;
        if (!toastId) throw new Error('Missing "data-toast-id" attribute on Toast component');

        unmount === "true" ? unmountToast(toastElement) : mountToast(toastElement);
        
        const toastContentElement = toastElement.querySelector<HTMLDivElement>(".toast-content");
        if (!toastContentElement) throw new Error(`Toast "${toastId}": component internal element(s) .toast-content not found.`);

        const openButtonElement = document.querySelector<HTMLButtonElement>(`[data-toast-open="${toastId}"]`);
        const closeButtonElement = toastElement.querySelector<HTMLButtonElement>("[data-toast-close]");
        let autoCloseTimerId: ReturnType<typeof setTimeout> | null = null;

        const startAutoClose = () => autoCloseTimerId = setTimeout(() => hideToast(), Number(autocloseTime) || 4000);
        
        const stopAutoClose = () => {
	    	if (!autoCloseTimerId) return;
	    	clearTimeout(autoCloseTimerId);
	    	autoCloseTimerId = null;
	    };

        const showToast = () => {
            if (toastElement.dataset.state !== "closed") return;
            if (unmount === "true") mountToast(toastElement);
            toastElement.dataset.state = "opening";
            requestAnimationFrame(() => {
                toastElement.dataset.state = "open";
                startAutoClose();
            });
        };

        const hideToast = () => {
            if (toastElement.dataset.state !== "open") return;
            stopAutoClose();
            toastElement.dataset.state = "closing";
            toastContentElement.addEventListener("transitionend", () => {
                toastElement.dataset.state = "closed";
                if (unmount === "true") unmountToast(toastElement);
            }, { once: true });
        };

        toastContentElement.addEventListener("mouseenter", stopAutoClose);
        toastContentElement.addEventListener("mouseleave", () => toastElement.dataset.state === "open" && startAutoClose());
        openButtonElement?.addEventListener("click", showToast);
        closeButtonElement?.addEventListener("click", hideToast);
        window.addEventListener(`toast:show:${toastId}`, showToast);
        window.addEventListener(`toast:hide:${toastId}`, hideToast);
    });
</script>